.container {
    position: fixed;
    right: 0;
    border: 0.1rem solid #2a2b37;
    width: 11rem;
    height: 5rem;
    border-radius: 5rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.082),
        rgba(255, 255, 255, 0.055)
    );
    background: rgba(42,43,56,.5);
    -webkit-backdrop-filter: blur(21px);
    backdrop-filter: blur(104px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.36);
    rotate: 90deg;
}

.container .btn {
    border: none;
    appearance: none;
    background-color: transparent;
}

.indicator {
    position: absolute;
    border: 0.1rem solid #000000;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #000000;
    opacity: .5;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.36);
    z-index: 1;
    transition: all 1s;
}

.icon {
    z-index: 200;
    rotate: 270deg;
}

.arg {
    left: 6.8%;
}

.eeuu {
    left: 56%;
}

@media(max-width: 600px) {
    .container {
        position: relative;
        left: 40vw;
        bottom: 25vh;
    }

}