.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.titleDiv hr {
    width: 17vw;
}

.title {
    font-family: 'Circular Std Book',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5.5vh;
    color: rgba(255, 255, 255, 0.582);
    background-clip: text;
    background: linear-gradient(-45deg,rgba(0,102,177,1),rgba(135,0,68,1),rgba(0,102,177,1),rgba(135,0,68,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 4s ease infinite;
    animation: gradient 4s ease infinite;
}

.skills {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 5vw;
}

.texts {
    width: 50%;
}

.texts p {
    font-family: 'Circular Std Book',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: rgba(255, 255, 255, 0.582);
}

.iconsSkills {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.iconsSkills img {
    height: 5rem;
    width: 5rem;
}

.iconsSkills div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
}

.iconsSkills div span {
    font-family: 'Circular Std Book',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.582);
}


@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media(max-width: 850px) {
    .skills {
        flex-direction: column;
        row-gap: 3rem;
    }

    .container {
        height: max-content;
    }

    .texts, .iconsSkills{
        width: 100%;
    }
}
