.navBar, .navBarMobiles {
    color: white;
    width: 25rem;
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.082),
        rgba(255, 255, 255, 0.055)
    );
    -webkit-backdrop-filter: blur(21px);
    backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
}

.navBarMobiles {
    width: 100%;
}

.navBar img {
    width: 14vh;
    height: 14vh;
    margin-bottom: 7vh;
}

.container {
    border: 2px solid white;
    padding: 1rem;
    border-radius: 2rem;
    width: 10rem;
    text-align: center;
    transition: all ease-in-out .5s;
}

.active {
    background-color: #14213d;
    border: 2px solid #14213d;
    padding: 1rem;
}


.container button {
    font-size: 2rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
}

.container:hover {
    transform: scale(1.1);
}

.icons {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    margin-top: 7vh;
}

.icons a {
    background-color: transparent;
    border: none;
    appearance: none;
    cursor: pointer;
}

.icon {
    color: white;
    transition: all ease-in-out .2s;
}

.icon:hover {
    transform: scale(1.2);
}
